body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: #121212;
    padding: 0;
    margin: 0;
  }
  #container {
    margin: auto;
    display: flex;
  }
  #left-container {
    width: 52%;
    background-color: white;
    padding-right: 50px;
    border-right: 0.5px solid #e6e6e6;
  }
  #right-container {
    width: 40%;
    padding-left: 50px;
    border-left: 0.5px solid #e6e6e6;
    background-color: #fafafa;
  }
  #left-side {
    width: 70%;
    margin-top: 50px;
    margin-left: 30%;
  }
  #right-side {
    margin-top: 50px;
    margin-right: 40%;
  }
  #heading-logo {
    width: 120px;
  }
  #breadcrumb {
    font-size: 12px;
    display: flex;
    gap: 8px;
    color: rgba(61, 61, 61, 0.75);
  }
  #breadcrumb p:first-child {
    color: #30b1fb;
  }
  #breadcrumb p:nth-child(2) {
    font-weight: 500;
  }
  .fa-angle-right {
    color: #121212;
    margin-left: 8px;
  }
  #express-checkout-heading {
    position: absolute;
    background-color: white;
    font-size: 14px;
    font-weight: 500;
    padding: 0px 10px;
    margin-left: 215px;
    margin-top: 10px;
  }
  #express-checkout {
    margin-top: 20px;
    border: 1px solid #e6e6e6;
    padding: 20px;
    border-radius: 6px;
    display: flex;
    margin-bottom: 50px;
  }
  #or {
    position: absolute;
    background-color: white;
    font-size: 14px;
    font-weight: 500;
    padding: 0px 10px;
    margin-left: 265px;
    margin-top: -20px;
    color: rgba(61, 61, 61, 0.75);
  }
  #shop-pay {
    background-color: #481cf1;
    color: white;
    border: 1px solid #481cf1;
    font-size: 18px;
    height: 42px;
    width: 100%;
    border-radius: 5px;
    margin-right: 10px;
  }
  #paypal {
    background-color: #f2ba36;
    color: white;
    border: 1px solid #f2ba36;
    margin-bottom: 10px;
    font-size: 20px;
    height: 42px;
    width: 100%;
    border-radius: 5px;
    font-weight: 900;
    margin-right: 10px;
  }
  #g-pay {
    background-color: #000000;
    color: white;
    border: 1px solid #000000;
    font-size: 18px;
    height: 42px;
    width: 100%;
    border-radius: 5px;
  }
  #checkout:hover {
    cursor: pointer;
    outline: 2px solid #000000;
  }
  #shop-pay:hover {
    background-color: #3a13d6;
    cursor: pointer;
  }
  #paypal:hover {
    background-color: #dda729;
    cursor: pointer;
  }
  #g-pay:hover {
    background-color: #000000da;
    cursor: pointer;
  }
  .shop-pay-span {
    background-color: white;
    color: #5a31f4;
    font-size: 12px;
    font-weight: 600;
    margin-left: 5px;
    padding: 2px;
    border-radius: 2px;
  }
  #contact-info {
    display: flex;
    justify-content: space-between;
  }
  .h3-heading {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #333333;
  }
  #contact-para {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #545454;
  }
  #contact-para span {
    color: #009cde;
  }
  #contact-para span:hover {
    cursor: pointer;
  }
  #email-with-news {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
  }
  #checkbox-box {
    padding: 50px;
    height: 18px;
    width: 18px;
    border: 1px solid rgb(209, 199, 199);
  }
  #email-with-news {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #545454;
  }
  #checkbox-box:hover {
    cursor: pointer;
  }
  #full-name,
  #city-state-zip {
    width: 100%;
    display: flex;
    gap: 10px;
  }
  input[type="text"],
  select {
    height: 46px;
    padding: 0px 15px;
    font-size: 14px;
    border: 1px solid rgb(209, 199, 199);
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  #action-btn-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
    margin-top: 30px;
  }
  #action-btn-area a {
    text-decoration: none;
    font-size: 14px;
    line-height: 18px;
    color: #129df9;
  }
  #submit {
    width: 183px;
    height: 59px;
    border-radius: 5px;
    background-color: #000000;
    color: white;
    font-weight: 600;
    font-size: 14px;
  }
  #submit:hover {
    cursor: pointer;
  }
  .hr-bar {
    border: none;
    border-bottom: 1px solid #e6e6e6;
  }
  #rule-regu {
    display: flex;
    flex-wrap: wrap;
    gap: 0px 20px;
    margin-bottom: 10px;
  }
  #rule-regu p {
    font-size: 12px;
    line-height: 0px;
    font-weight: 400;
    color: #35abfa;
  }
  #rule-regu p:hover {
    cursor: pointer;
  }
  #product-list {
    margin-top: 60px;
    height: auto;
    max-height: 275px;
    overflow-y: auto;
    padding: 20px 5px 0px 5px;
  }
  #row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    position: relative;
  }
  #img-box {
    height: 64px;
    width: 64px;
    border-radius: 15px;
    position: absolute;
    background-color: white;
    border-radius: 8px;
    border: 1px rgba(0, 0, 0, 0.1) solid;
  }
  #img-box p {
    font-size: 12px;
    position: absolute;
    background-color: #808080;
    border-radius: 50%;
    border: none;
    color: white;
    padding: 0px 5px 1px 5px;
    display: flex;
    align-items: center;
    margin-left: 52px;
    margin-top: -8px;
  }
  #img-box img {
    width: 43px;
    height: 64px;
    object-fit: fill;
    margin-left: 11px;
  }
  #che_title {
    margin-left: 80px;
    font-size: 14px;
    line-height: 18px;
    color: #323232;
    font-weight: 500;
  }
  #che_price {
    font-size: 14px;
    line-height: 18px;
    color: #323232;
    font-weight: 500;
  }
  #coupon-box {
    margin-top: 20px;
    display: flex;
    gap: 10px;
  }
  #coupon-box button {
    height: 46px;
    padding: 0px 15px;
    font-size: 14px;
    border: 1px solid rgb(209, 199, 199);
    width: 30%;
    background-color: #c8c8c8;
    pointer-events: none;
    color: white;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  #coupon-box button:hover {
    cursor: pointer;
  }
  #apply-stat {
    text-align: center;
    background-color: rgb(236, 217, 217);
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
    display: none;
  }
  #che-submit,
  #che-total,
  #che-shipping,
  #che-discount {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #che-submit p:first-child,
  #che-shipping p:first-child,
  #che-discount p:first-child {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #535353;
  }
  #che-submit p:last-child,
  #che-discount p:last-child {
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    color: #323232;
  }
  #coupon-example {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #535353;
    margin-top: 0px;
    margin-bottom: 30px;
    font-weight: 600;
  }
  #coupon-example span {
    background-color: rgba(179, 223, 179, 0.664);
    padding: 0px 10px 2px 10px;
    border-radius: 2px;
  }
  #che-shipping p:last-child {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: #535353;
  }
  #che-total p:first-child {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: #323232;
  }
  #che-total p:last-child {
    font-size: 24px;
    line-height: 24px;
    font-weight: 500;
    color: #323232;
  }
  #che-total p:last-child span {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #717171;
  }
  @media all and (min-width: 769px) and (max-width: 1024px) {
    #left-side {
      width: 90%;
      margin-left: 10%;
    }
    #right-side {
      margin-right: 10%;
    }
  }
  @media all and (min-width: 427px) and (max-width: 768px) {
    #left-container {
      width: 70%;
      padding-right: 15%;
      padding-left: 15%;
      border-right: none;
    }
    #right-container {
      width: 70%;
      padding-left: 15%;
      padding-right: 15%;
      border-left: none;
    }
    #left-side {
      width: 100%;
      margin-left: 0;
    }
    #right-side {
      width: 100%;
    }
    #container {
      flex-direction: column-reverse;
    }
    #row {
      margin-bottom: 30px;
    }
    #express-checkout-heading {
      margin-left: 240px;
    }
    #or {
      margin-left: 300px;
    }
  }
  @media all and (min-width: 376px) and (max-width: 426px) {
    #left-container {
      width: 80%;
      padding-right: 10%;
      padding-left: 10%;
      border-right: none;
    }
    #right-container {
      width: 80%;
      padding-left: 10%;
      padding-right: 10%;
      border-left: none;
    }
    #left-side {
      width: 100%;
      margin-left: 0;
    }
    #right-side {
      width: 100%;
    }
    #container {
      flex-direction: column-reverse;
    }
    #row {
      margin-bottom: 30px;
    }
    #express-checkout-heading {
      margin-left: 105px;
    }
    #or {
      margin-left: 150px;
    }
    #contact-info {
      display: flex;
      flex-direction: column;
    }
    #express-checkout {
      flex-direction: column;
    }
    #shop-pay,
    #paypal,
    #g-pay {
      width: 100%;
      height: 55px;
      margin-bottom: -10px;
    }
  }
  @media all and (max-width: 376px) {
    #left-container {
      width: 80%;
      padding-right: 10%;
      padding-left: 10%;
      border-right: none;
    }
    #right-container {
      width: 80%;
      padding-left: 10%;
      padding-right: 10%;
      border-left: none;
    }
    #left-side {
      width: 100%;
      margin-left: 0;
    }
    #right-side {
      width: 100%;
    }
    #container {
      flex-direction: column-reverse;
    }
    #row {
      margin-bottom: 30px;
    }
    #express-checkout-heading {
      margin-left: 105px;
    }
    #or {
      margin-left: 150px;
    }
    #contact-info {
      display: flex;
      flex-direction: column;
    }
    #express-checkout {
      flex-direction: column;
    }
    #shop-pay,
    #paypal,
    #g-pay {
      width: 100%;
      height: 55px;
      margin-bottom: -10px;
    }
    #express-checkout-heading {
      margin-left: 90px;
    }
    #or {
      margin-left: 130px;
    }
  }
  
  #cartpagediv {
    /* border: 1px solid; */
    display: flex;
    justify-content:space-between
  }
  /* #table-heading{
    border: 1px solid
  } */
  
  #cartbox{
    display: flex;
  }
  
  /* #cartimgdiv>img{
    width: 20%;
  } */
  #cartimgid{
    width: 100%;
    /* border: 1px solid; */
  }
  #cartimgdiv{
    /* border: 1px solid; */
    width: 40%;
  }