
 #footer{
    height: 450px;
    width: 100%;
    border: 1px solid #ccc;
    display: flex;
 }
#row1{
    height: 450px;
    /* border: 1px solid black; */
    width: 40%;
    margin-left: 100px;
}
#row2{
    height: 450px;
    /* border: 1px solid black; */
    width: 50%;
}

*, *::before, *::after {
    box-sizing: inherit;
}
user agent stylesheet
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.list-unstyled {
    margin: 0;
    padding: 0;
    list-style: none;
}
user agent stylesheet
ul {
    list-style-type: disc;
}
.grid {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    padding: 0;
    list-style: none;
    column-gap: var(--grid-mobile-horizontal-spacing);
    row-gap: var(--grid-mobile-vertical-spacing);
}
body, .color-background-1, .color-background-2, .color-inverse, .color-accent-1, .color-accent-2 {
    color: rgba(var(--color-foreground),.75);
    background-color: rgb(var(--color-background));
}
:root, .color-background-1, .color-background-2 {
    --color-card-hover: var(--color-base-text);
}
:root, .color-background-1 {
    --color-badge-background: var(--color-background);
    --color-badge-border: var(--color-foreground);
    --alpha-badge-border: .1;
}
:root, .color-background-1 {
    --color-button: var(--color-base-accent-1);
    --color-button-text: var(--color-base-solid-button-labels);
    --alpha-button-background: 1;
    --alpha-button-border: 1;
}
:root, .color-background-1 {
    --color-link: var(--color-base-outline-button-labels);
    --alpha-link: .85;
}
:root, .color-background-1 {
    --color-foreground: var(--color-base-text);
    --color-background: var(--color-base-background-1);
    --gradient-background: var(--gradient-base-background-1);
}
body {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: 100%;
    min-height: 100%;
    margin: 0;
    font-size: 1.5rem;
    letter-spacing: 0.06rem;
    line-height: calc(1 + 0.8 / var(--font-body-scale));
    font-family: var(--font-body-family);
    font-style: var(--font-body-style);
    font-weight: var(--font-body-weight);
}
:root {
    --gw_main_color: #c9ac92;
    --gw_divider_color: #e2e2e2;
    --gw_modal_bg_color: #ffffff;
    --gw_modal_second_bg_color: #f8f8f8;
    --gw_dm_border_radius: 0px;
    --gw_dm_bg_color: #ffffff;
    --gw_dm_item_color: #333333;
    --gw_dm_item_hover_color: #333333;
    --gw_dm_item_hover_bg_color: #eeeeee;
    --gw_ft_color: #333333;
    --gw_ft_bg_color: #eeeeee;
    --gw_ft_border_radius: 18px;
    --gw_ft_hover_color: #ffffff;
    --gw_ft_hover_bg_color: #666666;
    --gw_cd_color: #333333;
    --gw_cd_border_radius: 0px;
    --gw_cd_border_color: #d2d2d2;
    --gw_cd_focus_border_color: #d2d2d2;
    --gw_cd_font_size: 14px;
    --gw_lb_position: 40%;
    --gw_lb_color: #ffffff;
    --gw_lb_bg_color: #ffffff;
    --gw_lb_color_for_tab: #000000;
    --gw_lb_bg_color_fave: #ffffff;
    --gw_lb_bg_color_text_fave: #ffffff;
    --gw_lb_bg_color_text_fave_for_tab: #000000;
    --gw_cm_bg_color: #2ba6cb;
    --gw_cm_color: #ffffff;
    --gw_reward_text_color: #444444;
    --gw_reward_tab_color: #ffffff;
    --gw_reward_tab_text_color: #444444;
    --gw_wishlist_button_height: 2.5em;
    --gw_review_widget_margin_top: 0px;
    --gw_insta_title_padding_top: 10px;
    --gw_insta_title_padding_bottom: 15px;
    --gw_insta_title_size: 18px;
    --gw_login_input_height: 18px;
    --gw_share_icons_size: 18px;
    --gw_wishlist_hide_counter: flex;
    --gw_wishlist_hide_counter_colections: none;
    --gw_wishlist_effect: 0,0,0,0;
    --gw_login_my_order: block;
    --gw_login_view_profile: block;
    --gw_show_rewards_tab_on_desktop: block;
    --gw_show_rewards_tab_on_mobile: block;
    --gw_show_wishlist_tab_on_mobile: block;
    --gw_show_reviews_tab_on_mobile: block;
    --gw_login_my_itches: block;
    --gw_login_edit_profile: block;
    --gw_wishlist_page_show_vendor: none;
    --gw_social_networks_icon_for_dropdown: flex;
}
:root {
    --duration-short: .1s;
    --duration-default: .2s;
    --duration-long: .5s;
}
:root, .color-icon-text {
    --color-icon: rgb(var(--color-base-text));
}
:root {
    --font-body-family: Assistant, sans-serif;
    --font-body-style: normal;
    --font-body-weight: 400;
    --font-heading-family: Assistant, sans-serif;
    --font-heading-style: normal;
    --font-heading-weight: 400;
    --font-body-scale: 1.0;
    --font-heading-scale: 1.0;
    --color-base-text: 18, 18, 18;
    --color-shadow: 18, 18, 18;
    --color-base-background-1: 255, 255, 255;
    --color-base-background-2: 243, 243, 243;
    --color-base-solid-button-labels: 255, 255, 255;
    --color-base-outline-button-labels: 18, 18, 18;
    --color-base-accent-1: 18, 18, 18;
    --color-base-accent-2: 51, 79, 180;
    --payment-terms-background-color: #FFFFFF;
    --gradient-base-background-1: #FFFFFF;
    --gradient-base-background-2: #F3F3F3;
    --gradient-base-accent-1: #121212;
    --gradient-base-accent-2: #334FB4;
    --media-padding: px;
    --media-border-opacity: 0.05;
    --media-border-width: 1px;
    --media-radius: 0px;
    --media-shadow-opacity: 0.0;
    --media-shadow-horizontal-offset: 0px;
    --media-shadow-vertical-offset: 0px;
    --media-shadow-blur-radius: 0px;
    --page-width: 120rem;
    --page-width-margin: 0rem;
    --card-image-padding: 0.0rem;
    --card-corner-radius: 0.0rem;
    --card-text-alignment: left;
    --card-border-width: 0.0rem;
    --card-border-opacity: 0.0;
    --card-shadow-opacity: 0.1;
    --card-shadow-horizontal-offset: 0.0rem;
    --card-shadow-vertical-offset: 0.0rem;
    --card-shadow-blur-radius: 0.0rem;
    --badge-corner-radius: 4.0rem;
    --popup-border-width: 1px;
    --popup-border-opacity: 0.1;
    --popup-corner-radius: 0px;
    --popup-shadow-opacity: 0.0;
    --popup-shadow-horizontal-offset: 0px;
    --popup-shadow-vertical-offset: 0px;
    --popup-shadow-blur-radius: 0px;
    --drawer-border-width: 1px;
    --drawer-border-opacity: 0.1;
    --drawer-shadow-opacity: 0.0;
    --drawer-shadow-horizontal-offset: 0px;
    --drawer-shadow-vertical-offset: 0px;
    --drawer-shadow-blur-radius: 0px;
    --spacing-sections-desktop: 0px;
    --spacing-sections-mobile: 0px;
    --grid-desktop-vertical-spacing: 8px;
    --grid-desktop-horizontal-spacing: 8px;
    --grid-mobile-vertical-spacing: 4px;
    --grid-mobile-horizontal-spacing: 4px;
    --text-boxes-border-opacity: 0.0;
    --text-boxes-border-width: 0px;
    --text-boxes-radius: 0px;
    --text-boxes-shadow-opacity: 0.0;
    --text-boxes-shadow-horizontal-offset: 0px;
    --text-boxes-shadow-vertical-offset: 0px;
    --text-boxes-shadow-blur-radius: 0px;
    --buttons-radius: 0px;
    --buttons-radius-outset: 0px;
    --buttons-border-width: 1px;
    --buttons-border-opacity: 1.0;
    --buttons-shadow-opacity: 0.0;
    --buttons-shadow-horizontal-offset: 0px;
    --buttons-shadow-vertical-offset: 0px;
    --buttons-shadow-blur-radius: 0px;
    --buttons-border-offset: 0px;
    --inputs-radius: 0px;
    --inputs-border-width: 1px;
    --inputs-border-opacity: 0.55;
    --inputs-shadow-opacity: 0.0;
    --inputs-shadow-horizontal-offset: 0px;
    --inputs-margin-offset: 0px;
    --inputs-shadow-vertical-offset: 0px;
    --inputs-shadow-blur-radius: 0px;
    --inputs-radius-outset: 0px;
    --variant-pills-radius: 40px;
    --variant-pills-border-width: 1px;
    --variant-pills-border-opacity: 0.55;
    --variant-pills-shadow-opacity: 0.0;
    --variant-pills-shadow-horizontal-offset: 0px;
    --variant-pills-shadow-vertical-offset: 0px;
    --variant-pills-shadow-blur-radius: 0px;
}
html {
    box-sizing: border-box;
    font-size: calc(var(--font-body-scale) * 62.5%);
    height: 100%;
}
*, *::before, *::after {
    box-sizing: inherit;
}
*, *::before, *::after {
    box-sizing: inherit;
}
::selection {
    background-color: rgba(var(--color-foreground),.2);
}

.footer-block__details-content .list-menu__item--link, .copyright__content a {
    color: rgba(var(--color-foreground),.75);
}

.list-menu__item--link {
    
    text-decoration: none;
    padding-bottom: 1rem;
    padding-top: 1rem;
    line-height: calc(1 + 0.8 / var(--font-body-scale));
   
}
.list-menu__item {
    display: flex;
    align-items: center;
    line-height: calc(1 + 0.3 / var(--font-body-scale));
}
.link--text {
    color: rgb(var(--color-foreground));
}
.link, .customer a {
    cursor: pointer;
    display: inline-block;
    border: none;
    box-shadow: none;
    text-decoration: underline;
    text-underline-offset: 0.3rem;
    color: rgb(var(--color-link));
    background-color: transparent;
    font-size: 1.4rem;
    font-family: inherit;
}
*, *::before, *::after {
    box-sizing: inherit;
}
user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
user agent stylesheet
li {
    text-align: -webkit-match-parent;
}
.list-unstyled {
    margin: 0;
    padding: 0;
    list-style: none;
}
user agent stylesheet
ul {
    list-style-type: disc;
}
.grid {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    padding: 0;
    list-style: none;
    column-gap: var(--grid-mobile-horizontal-spacing);
    row-gap: var(--grid-mobile-vertical-spacing);
}
 
 

/* h1, h2, h3, h4, h5, .h0, .h1, .h2, .h3, .h4, .h5 {
    font-family: var(--font-heading-family);
    font-style: var(--font-heading-style);
    font-weight: var(--font-heading-weight);
    letter-spacing: calc(var(--font-heading-scale) * .06rem);
    color: rgb(var(--color-foreground));
    line-height: calc(1 + .3/max(1,var(--font-heading-scale)));
    word-break: break-word;
} */

#email{
    width: 60%;
    padding: 14px;

}

#logo{
    height: 50px;
    width: 40%;
    margin-left: 350px;
    /* border: 1px solid black; */
    margin-top: 130px;
    display: flex;
    gap: 30px;
}
#fb{
    height: 20px;
    width: 20px;
}

#pin{
    height: 20px;
    width: 20px;
}

#insta{
    height: 20px;
    width: 20px;
}

#tiktok{
    height: 20px;
    width: 20px;
}

#footer_end{

    height: 40px;
    width: 50%;
    /* border: 1px solid black; */
    display: flex;
    margin: auto;
    margin-top: 40px;
    display: flex;
    gap: 10px;
    
}

#footer_end>img{
    margin-top: 10px;
    height: 30px;
    width: 50px;
    border-radius: 3px;
    
}
 #shopify{
    text-align: center;
    font-size: 10px;
 }

 #footerstart{
   margin-top: 80px;
    height: 600px;
    width: 100%;
    /* border: 1px solid black; */
 } 