@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

#top-sec{
    text-align: center;
    height: 50px;
    width: 100%;
    /* border: 1px solid #ccc; */
   
    
}
 
  #search-div{
    display: flex;
    height: 120px;
    width: 100%;
    border: 1px solid rgb(206, 201, 201);
    position: absolute;
    transition: -2s; 
    gap: 10px;
    top: -200px;
     margin-top: 50px;
     background-color: white;
    
 }
 #hom{
    color: gray;
     
     
 }

 

#search-div.active{
    top: 0;
}

 

#search-box{
    margin-top: 50px;
    width: 30%;
    padding: 12px;
    margin-bottom: 10px;
    margin-left: 500px;

}

#slideicon{
    margin-top: 60px;
    cursor: pointer;
}

#start{
    cursor: pointer;
}

#navbar{
    /* margin-top: 30px; */
    height: 100px;
    width: 100%;
    border: 1px solid rgb(206, 201, 201);
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    
    
}


#lavoda{
    height: 50px;
    width: 90px;
    margin-top: 5px;
     
}
#new{
    display: flex;
    gap: 40px;
    margin-left: 70px;
    margin-top: 20px;
    /* border: 1px solid black; */
}

#icon{
    margin-top: 40px;
    display: flex;
    gap: 60px;
    margin-right: 120px;
    /* border: 1px solid black; */
}
 
 
  #hom{
    color: gray ;
  }   

  #top-navbar{
    height: auto;
    width: auto;
  }

  #title-login{
    margin-top: 80px;
    text-align: center;
  }

  #title-login>h1{

    color: black;
    font-weight: lighter;
    font-size: 40px;
  }

  #social-login{
    height: 300px;
    width: 500px;
    margin: auto;
    /* border: 1px solid black; */
    

  }

  #first{
     margin-top: 30px;
    height: 50px;
    width: 500px;
    border: 3px solid rgb(42, 42, 252);
    display: flex;
  }

  #sec{
    margin-top: 30px;
   height: 50px;
   width: 500px;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
   display: flex;
 }

 #third{
    margin-top: 30px;
   height: 50px;
   width: 500px;
    background-color: #ff9900;
   display: flex;
 }

  #facebook{
    height: 40px ;
    width: 70px;
 margin-left: 40px;
  }
  #gogle-img{
    margin-top: 5px;
    height: 30px ;
    width: 50px;
 margin-left: 40px;
 border-radius: 25px;
  }

  #amazon-img{
    margin-top: 5px;
    height: 30px ;
    width: 50px;
 margin-left: 40px;
 border-radius: 7px;
  }

  #span{
    color: blue;
    margin-top: 8px;
  }
  #gogle{
     
    margin-top: 8px;
    margin-left: 30px;
  }
  #amazon{
    margin-top: 8px;
    color: white;
    margin-left: 30px;
  }

  #login-box{
    
    height: 130px;
    width: 500px;
    margin: auto;
    /* border: 1px solid black; */
    margin-top: -20px;
  }

  #login-box>input{
    width: 100%;
    padding: 16px;
    margin-top: 6px;
    margin-bottom: 16px;
  }
 #forget{
    color: rgb(61, 60, 60);
 }

 #btn{
     
    height: 50px;
    width: 500px;
    /* border: 1px solid black; */
    margin: auto;
    margin-top: 70px;
    text-align: center;
 }

 #signin{
     
    height: 50px;
    width: 130px;
    background-color: black;
    color: white;
    font-weight: 400;
 }

 #CREATE{
    margin-top: 10px;
    text-align: center;
    color: rgb(61, 60, 60);
 }

 #icon>a{
    color: rgb(61, 60, 60);
 }

 #signup-box>input{
    width: 100%;
    padding: 16px;
    margin-top: 6px;
    margin-bottom: 16px;
    border: 1px solid rgb(129, 129, 129);
  }
  
  #signup-box{
    
    height: 260px;
    width: 500px;
    margin: auto;
    /* border: 1px solid black; */
    margin-top: -20px;
  }
  #newsletter{
    margin-top: -10px;
  }
  .navbar-linked{
    text-decoration: none;
    color: gray;
  }